@page
@model FrontPetConecta.Pages.Funcionario.CreateModel
@{
}


<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-6">
            <div class="formEdit">
                <h3 class=""> Vamos criar um novo Funcionario?</h3>

                <form method="post" asp-page="Create">
                    <input type="hidden" asp-for="FuncionarioModel.IdFuncionario" />

                    <div class="form-group">
                        <label asp-for="FuncionarioModel.NomeFuncionario">Nome</label>
                        <input asp-for="FuncionarioModel.NomeFuncionario" class="form-control" />
                        <span asp-validation-for="FuncionarioModel.NomeFuncionario" class="text-dange"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="FuncionarioModel.CargoFuncionario">Cargo</label>
                        <input asp-for="FuncionarioModel.CargoFuncionario" class="form-control" />
                        <span asp-validation-for="FuncionarioModel.CargoFuncionario" class="text-dange"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FuncionarioModel.DataAdmissao">Data de Admissão</label>
                        <input asp-for="FuncionarioModel.DataAdmissao" class="form-control" />
                        <span asp-validation-for="FuncionarioModel.DataAdmissao" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" class="btn btn-create" value="Salvar" />
                        <a asp-page="Funcionarios" class="btn btn-delete">Cancelar</a>
                    </div>

                </form>
            </div>

        </div>
        <div class="col-md-6 bg-custom">
            <img src="~/images/3592854-add-user-business-man-employee-general-human-member-office_107767.png" class="img-fluid" alt="Image Description">
        </div>
    </div>
</div>