@page
@model FrontPetConecta.Pages.Funcionario.DeleteModel
@{
}




<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-6">

            <div class="formEdit">
                <h3 class="">Deseja apagar esse Funcionario ?</h3>

                <div class="mt-3">
                    <p><strong>Nome: </strong>@Model.FuncionarioModel.NomeFuncionario</p>
                    <p><strong>Telefone: </strong>@Model.FuncionarioModel.CargoFuncionario</p>
                    <p><strong>Endereco: </strong>@Model.FuncionarioModel.DataAdmissao</p>

                </div>

                <div class="mt-4">
                    <form method="post">
                        <div class="form-group">
                            <input type="submit" value="Apagar" class="btn btn-create" />
                            <a asp-page="Funcionarios" class="btn btn-delete">Retornar para a listagem</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>